.variation{width:95%}.variation .name{border:1px solid #d9eaf5;height:20px;padding:5px;width:100%}.variation .description{width:170px}#price{background:#fff;color:inherit;border:2px solid #d9eaf5;padding:2em;position:fixed;right:1em;top:50%}